
  <div class="container">
    <!--Title-->
    <div class="my-0 bg-gray-200 p-5 rounded-tr-lg rounded-tl-lg shadow-md bg-gradient-to-r from-gray-400 via-gray-100 to-gray-400">
        <h1 class="text-4xl font-bold text-center">{{'ABOUT.TITLE' | translate}}</h1>
    </div>
    <!--ABOUT KROW-->
    <div class="bg-gray-200 p-5 rounded-lg rounded-tr-none rounded-tl-none shadow-md bg-gradient-to-r from-gray-200 via-gray-100 to-gray-300">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="md:w-2/6 md:mr-4 -mb-5 mt-8">
                <figure class="">
                    <img src="assets/imgs/krowprofile.png" alt="krow profile" class="w-80 rounded-md mx-auto">
                  </figure>
            </div>
            <div class="md:w-4/6 md:ml-4">
                <h2 class="text-2xl font-bold mb-2 text-gray-600 tracking-widest">EMMANUEL HERNÁNDEZ</h2>
                <p class="text-xl mb-3 text-red-600">{{'ABOUT.JOB_KROW' | translate | uppercase}}</p>
                <p class="mb-3">
                    {{ 'ABOUT.ABOUT_KROW.0' | translate}}
                    <span class="font-bold">{{ 'ABOUT.ABOUT_KROW.1' | translate }}</span>
                    {{ 'ABOUT.ABOUT_KROW.2' | translate }}
                </p>
                <p class="text-gray-700">
                    {{ 'ABOUT.MOTTO_KROW.0' | translate }}
                    <span class="font-bold">{{ 'ABOUT.MOTTO_KROW.1' | translate }}</span>
                    {{ 'ABOUT.MOTTO_KROW.2' | translate }}
                </p>
            </div>
        </div>
    </div>
    <!--About LAURA-->
    <div class="mt-4 bg-gray-200 p-5 rounded-lg shadow-md bg-gradient-to-r from-gray-200 via-gray-100 to-gray-300">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="md:w-2/6 md:mr-4 -mb-5 mt-8">
                <figure class="">
                    <img src="assets/imgs/krowprofile.png" alt="krow profile" class="w-80 rounded-md mx-auto">
                  </figure>
            </div>
            <div class="md:w-4/6 md:ml-4">
                <h2 class="text-2xl font-bold mb-2 text-gray-600 tracking-widest">LAURA CRISTIANE ANDRADE</h2>
                <p class="text-xl mb-3 text-red-600">{{'ABOUT.JOB_LAU' | translate | uppercase}}</p>
                <p class="mb-3">
                    {{ 'ABOUT.ABOUT_LAU.0' | translate}}
                    <span class="font-bold">{{ 'ABOUT.ABOUT_LAU.1' | translate }}</span>
                    {{ 'ABOUT.ABOUT_LAU.2' | translate }}
                </p>
                <p class="text-gray-700">
                    {{ 'ABOUT.MOTTO_LAU.0' | translate }}
                    <span class="font-bold">{{ 'ABOUT.MOTTO_LAU.1' | translate }}</span>
                    {{ 'ABOUT.MOTTO_LAU.2' | translate }}
                </p>
            </div>
        </div>
    </div>
  </div>