
  <div class="container">
    <h1 class="text-4xl font-bold text-center my-5">MEET THE TEAM</h1>
    <div class="bg-gray-200 p-5 rounded-lg shadow-md bg-gradient-to-r from-gray-300 via-gray-50 to-gray-00">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="md:w-2/6 md:mr-4 mb-4 mt-8">
                <figure class="mb-3">
                    <img src="https://web-images.pixpa.com/p3M6n18tU7Dn2SCWORF6CNwnw_rN9l7DJT_z4FC9ZmU/rs:fit:1200:0/q:90/czM6Ly9waXhwYS10ZXN0L2NvbS9sYXJnZS82MzIxNTQvNjMyMTU0LTE2NDQwOTYzOTYtMTI5MDcyMTgtODExODc1MDY1NjEzMzI5LTU3NjA5NjUzLW4tY29weS5qcGc=" alt="Mike Danford" class="h-96 rounded-md mx-auto">
                  </figure>
            </div>
            <div class="md:w-4/6 md:ml-4">
                <h2 class="text-2xl font-bold mb-2">EMMANUEL (krow)</h2>
                <p class="text-xl mb-3">FOTÓGRAFO Y EDITOR</p>
                <p class="mb-3">
                    "Soy un ingeniero en computación apasionado por la innovación, tecnología y la creatividad.
                     Durante varios años, he dedicado mi carrera al desarrollo de soluciones tecnológicas innovadoras.
                    Sin embargo, también tengo un profundo amor por la <span class="font-bold">fotografía</span>,
                    una pasión que descubrí hace algunos años y que ha crecido junto a mí.
                     A través de mi lente, encuentro belleza en los detalles cotidianos y capturo momentos que narran historias únicas." 
                </p>
                <p class="text-gray-700">
                    A través de mi lema <span class="font-bold">'Capturando Instantes, Creando Recuerdos Eternos'</span>, me comprometo a ofrecer no solo imágenes, sino experiencias únicas y memorables que reflejen mi dedicación, creatividad y amor por mi trabajo."
                </p>
            </div>
        </div>
    </div>
    
    <div class="bg-gray-200 p-5 rounded-lg shadow-md mt-5">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="md:w-2/6 md:mr-4 m-4">
                <figure class="mb-3">
                    <img src="https://web-images.pixpa.com/p3M6n18tU7Dn2SCWORF6CNwnw_rN9l7DJT_z4FC9ZmU/rs:fit:1200:0/q:90/czM6Ly9waXhwYS10ZXN0L2NvbS9sYXJnZS82MzIxNTQvNjMyMTU0LTE2NDQwOTYzOTYtMTI5MDcyMTgtODExODc1MDY1NjEzMzI5LTU3NjA5NjUzLW4tY29weS5qcGc=" alt="Mike Danford" class="h-96 rounded-md mx-auto">
                  </figure>
            </div>
            <div class="md:w-4/6 md:ml-4">
                <h2 class="text-2xl font-bold mb-2">MIKE DANFORD</h2>
                <p class="text-xl mb-3">CREATIVE DIRECTOR</p>
                <p class="mb-3">
                  Mike is a co-founder of Mixd and a lover of simple, effective design.
                  His critical eye oversees all the creative output of the agency and he
                  works closely with our clients to make sure their needs and his drive
                  for design excellence coincide.
                </p>
                <p class="text-gray-700">
                  You could describe Mike as a non-fiction book-lover, inspired bin-
                  the-recipe cook, sans serif font aficionado and eternal seeker of inspiration.
                </p>
            </div>
        </div>
    </div>
    
  </div>